*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

section{
    padding: 5% 10%;
}

/* START OF NAVBAR STYLING */
header{
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    transition: all 0.5s;
    z-index: 997;
    padding: 20px 0;
    background-color: grey;
}
nav#navbar{
    /* position: fixed; */
    width: 100%;
    z-index: 100;

}

li.nav-link{
    display: flex;
    justify-content: space-around;
    align-items: flex-end;
}

ul.nav.links{
    display: flex;
    justify-content: flex-end;
    list-style-type: none;
}

li.nav.link{
    display: inline-block;
    justify-content: space-between;
}
a.link{
    padding: 10px;
    color: ghostwhite;
}

.nav-button{
    display: none;
}
/* END OF NAVBAR */

/* START OF LANDING */
#Landing{
    background-image: url("./building-g2f9168744_1920.jpg");
    background-size: cover;
    background-position: center;
    min-height: 100vh;
    display: flex;
    align-items: center;
    position: relative;
    text-align:  center;
    background-color: black; 
}

#Landing h1{
    font-size: 4rem;
    text-shadow: 6px 6px 3px grey;
    color: ghostwhite;
    justify-content: center;
    align-items: center;
    position: relative;
}

#Landing h3{
    font-size: 2rem;
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    text-shadow: 6px 6px 3px black;
    color: ghostwhite;
}

{
    width: 100%;
    display: flex;
    justify-content: center
    padding-right: ;
    padding-left: ;
    margin-right: auto;
    margin-left: auto;
    /* background-color: black; */
}

{
    font-size: 4.5rem;
    font-weight: 600;
    color: ghostwhite;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    min-height: 100vh;
}

.sub{
    /* font-size: 2rem; */
    /* font-weight: 300; */
    /* color: ghostwhite; */
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin-top: none; */
    position: relative;
    min-height: 90vh;
}
/* END OF LANDING STYLING */

/* START OF ABOUT STYILING */
 .image-info{  
     flex: 0 0 auto;  
     width: 50%; 
     --bs-gutter-x: 1.5rem; 
    --bs-gutter-y: 0; 
    display: flex; 
    flex-wrap: wrap;
}
.skills-container{
    width: 50%;
    flex: auto;
    justify-content: space-evenly;
}


img{
    width: 50%;
    height: 50vh;
}

.info{
    font-size: smaller;
    justify-content: space-between;
}

#About{
    height: 100vh;
    display: flex;
    object-fit: cover;
}

.about-text{
    width: 50%;
    display: flex;
    flex-direction:column;
    width: 75%;
    align-items: flex-end;
    gap: 30px;
    align-items: center;
    align-items: flex-start;
    padding: 2%;
}

.skills h3{
    justify-content: flex-start;
    text-align: start;
}

meter{
    width: 100%;
    height: 20px;
}
/* END OF ABOUT STYLING*/

div{
    /* display: block; */
}

/* START OF PROJECTS STYLING */
#Projects{
    justify-content: center;
    height: 100vh;
    /* background-color: grey; */
}

.project-container{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    gap: 20px;
}

#Projects h3{
    margin-bottom: 30px;
    border-bottom: 3px solid white;
    width: fit-content;
    margin-inline: auto;
    font-size: 2rem;
    border-bottom: 3px solid black;
}

.card{
    display: flex;
    justify-content: space-between;
    box-shadow: 2px 2px 20px rgba(0, 0, 0, 0.7);
    /* border-radius: 50%;  */
    border: 2px solid black; 
    color: grey;
    padding: 20px;
    width: 48%;
    text-align: center; 
    font-size: 40px;
}

.portfolio-imgs img {
    width: 99%;
    height: 50vh;
    object-fit: cover;
}
/* END OF PROJECTS STYLING */

/* START OF RESUME STYLING */
#Resume{
    justify-content: space-between;
    height: 100vh;

}

#Resume h2{
    margin-bottom: 30px;
    border-bottom: 3px solid white;
    width: fit-content;
    margin-inline: auto;
    font-size: 2rem;
    border-bottom: 3px solid black;
}

.Education{
    /* border: 1px solid black; */
    height: 40vh;
}
.Work-experience{
    /* border: 1px solid black; */
    height: 40vh;
    margin-top: 60px;
}
/* END OF RESUME STYILING */

/* START OF CONTACT STYLING */
#Contact{
    justify-content: center;
    height: 100vh;
}

#Contact h3{
    margin-bottom: 30px;
    border-bottom: 3px solid white;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    width: fit-content;
    margin-inline: auto;
    font-size: 2rem;
    border-bottom: 3px solid black;
}

.contact-content{
    display: flex;
    justify-content: space-between;
    height: 100vh;
}

.right-content{
    width: 50%;
}

.left-content{
    width: 50%;
    gap: 10px;
    /* font-family: serif; */
    font-size: larger;
}

ul.details{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
}

.label{
    width: 100%;
}

form{
    display: flex;
    flex-direction: column;
    width: 100%;
}
 .icon{
     display: flex;
     justify-content: flex-end;
     align-items: flex-end;
     gap: 30px;
     width: 30%;
     padding: 1.5rem 0;
     border: 1px solid blue;
 }

 #footer{
     background-color: blue;
     height: 80px;
 }

 .footer{
     display: flex;
     flex-direction: column;
     justify-content: center;
     align-items: center;
     color: white;

 }

 [data-aos][data-aos][data-aos-duration="400"], body[data-aos-duration="400"] [data-aos] {
    transition-duration: 2.4s;
}

@media screen and (max-width: 460px){
    .image-info{
        width: 100%;
        margin-bottom: 30px;
    }

    #About{
        flex-direction: column;
        width: 100%;
    }

    .about-text{
        /* flex-direction: column; */
        /* width: 100%; */
    }

    .card{
        flex-direction: column;
    }

    .contact-content{
        flex-direction: column;
    }

    .nav-button{
        display: block;
    }

    ul.nav.links{
        display: none;
    }

}